{% extends 'data_generator/base.html' %}
{% load static %}

{% block content %}

    {% if form.errors or formset.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for dict in formset.errors %}
                {% for error in dict.values %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'new_schema' %}">
        <div class="row justify-content-between">
            <div class="col">
                <h4><strong>New Schema</strong></h4>
            </div>
            <div class="col offset-md-8">
                <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
        </div>
        {% csrf_token %}
        {{ form.as_p }}

        {{ formset.management_form }}
        {% for form in formset %}
        <div class="form-row custom-row">
            {{ form }}
            <button type="button" name="delete" class="btn btn-danger"> Delete </button>
        </div>
        {% endfor %}

        <button type="button" class="btn btn-primary" value="add"> Add Column </button>

    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'data_generator/add_and_delete_columns.js' %}"></script>
    <script src="{% static 'data_generator/range_visibility.js' %}"></script>
{% endblock %}