{% extends 'data_generator/base.html' %}
{% load static %}

{% block content %}

    <form>
        <div class="row justify-content-between">
            <div class="col">
                <h4><strong>New Schema</strong></h4>
            </div>
            <div class="col offset-md-8">
                <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
        </div>
        {% csrf_token %}
        {{ form.as_p }}

        {{ formset.management_form }}
        {% for form in formset %}
        <div class="form-row custom-row">
            {{ form }}
            <button type="button" name="delete" class="btn btn-danger"> Delete </button>
        </div>
        {% endfor %}

        <button type="button" class="btn btn-primary" value="add"> Add Column </button>

    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'data_generator/add_and_delete_columns.js' %}"></script>
    <script src="{% static 'data_generator/range_visibility.js' %}"></script>
{% endblock %}