.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formset-main {
    width: 15%;
}

.formset-secondary {
    width: 5%;
}

.input-visibility {
    visibility: hidden;
}

label[for*="range"] {
    visibility: hidden;
}